{% load static comments_tags %}
		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/comments.js" %}"></script>
	
	<div class="comments-wrapper">
		<h3 > <p class="comments-count" id="comments-count">
			{% if comments_count == 1%}
				{% get_comment_count target %}
				Comment
			{% else %}
				{% get_comment_count target %}
				Comments
			{% endif %}</p> 
		</h3>
		<div class="comments">
			{% for comment, liked in comment_liked %}

				<div id="comment-div-{{ comment.id }}" >
					{% include "comments/comment.html" with object=comment liked=liked form=form %}
				</div>

			{% empty %}

				<h3 id='no-comments'> No Comments </h3>

			{% endfor %}
		</div>
	</div>