{% load static %}
		<!--<script src="{% static "js/jquery.js" %}"></script>-->
		<script src="{% static "js/comments.js" %}"></script>
	
	<div class="comments-wrapper">
		<div class="comments">
			{% for comment, liked in comment_liked %}

				<div id="comment-div-{{ comment.id }}" >
					{% include "comments/comment.html" with object=comment liked=liked form=form %}
				</div>

			{% empty %}

				<h3 id='no-comments'> No Comments </h3>

			{% endfor %}
		</div>

		<div id="comment-input-div">
			{% include "comments/comment_form.html" with form=form target=target %}
		</div>
	</div>